@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

main * {
    font-family: 'Nanum Gothic', sans-serif;
}

main { width:360px; margin:0 auto; }
main a { color:#1D2637; text-decoration:none; }

ul li dl.card-type-0 { box-sizing:border-box; padding:20px 20px 10px; overflow:hidden; }
ul li dl.card-type-0 dt { border-radius:10px; width:120px; height:80px; float:left; overflow:hidden; position:relative; }
ul li dl.card-type-0 dt a { width:100%; display:block;  }
ul li dl.card-type-0 dt a img { width:100%; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); }
ul li dl.card-type-0 dt a .err-img { font-weight:bold; display:none; background-color:#dddddd; text-align:center; height:80px; line-height:80px; }
ul li dl.card-type-0 dd { font-size:16px; line-height:18px; margin-left:140px; width:180px; }

ul li dl.card-type-1 { box-sizing:border-box; padding: 20px 20px 10px; overflow:hidden; }
ul li dl.card-type-1 dt { border-radius:10px; width:100%; height:200px; text-align:center; overflow:hidden; position:relative; }
ul li dl.card-type-1 dt a { width:100%; height:100%; }
ul li dl.card-type-1 dt img { width:100%; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); }
ul li dl.card-type-1 dt a .err-img { font-weight:bold; display:none; background-color:#dddddd; text-align:center; height:80px; line-height:80px; }
ul li dl.card-type-1 dd { font-size:16px; line-height:18px; margin-top:10px; width:100%; }

ul li div { margin:0 auto; border-bottom: 1px solid #ddd; padding-bottom:20px; width:320px; }
ul li div .favicon { display:inline-block; width:12px; height:12px; vertical-align:middle; }
ul li div .favicon.empty { display:none; }
ul li div .favicon img { width:100%; height:100%; vertical-align:top; }
ul li div .author { font-size:12px; line-height:12px; vertical-align:middle; color:#888; }
ul li div .sign { font-size:12px; line-height:12px; vertical-align:middle; color:#888; }
ul li div .date { font-size:12px; line-height:12px; vertical-align:middle; color:#888; }

#loading {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    display:none;
}

.show {
    display:block;
}